@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-shadow  {
    box-shadow: 0px 3px 4px  rgba(0, 0, 0, 0.027) inset , -3px 0px 4px  rgb(0 0 0 / 0.027)inset;;
}
main , aside{
    scrollbar-width: thin;
}
main::-webkit-scrollbar ,
aside::-webkit-scrollbar {
    width: 5px;
}